*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.803);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: white;
}

.card{
    margin-top: 6rem;
    padding: 2rem;
    height: 65%;
    width: 23%;
    background-image: linear-gradient(45deg , rgb(0, 195, 255), rgb(0, 153, 255));
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(0, 208, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* justify-content: center; */
}

.searchTab{
    width: 340px;
    display: flex;
    justify-content: space-between;
    justify-content:space-between;

}

.input{
    /* all: unset; */
    height: 60px;
    width: 300px;
    background-color: white;
    border: 5px solid rgba(0, 0, 0, 0.49);
    border-radius: 40px;
    padding-left: 20px;
    font-size: larger;
    color: rgb(50, 50, 50);
    margin-right: 20px;
}

.searchButton{
    all: unset;
    border-radius: 100%;
    box-shadow: 0 0 10px #FFB703;
    background-color: #FFB703;
    height: 60px;
    width: 60px; 
    /* padding-left: 20px; */
}

.searchButton:hover{
    cursor: pointer;
}

.search{
    border-radius: 100%;
    object-fit: contain;
    height: 40px;
    padding-left: 12px;
    padding-top: 8px;
    
}

.temprature{
    font-size: 4rem;
}

.city{
    font-size: 2rem;
}

.last{
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
    
}

/* .main{
    /* opacity: 0%; */


.active{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.tag{
    height: 200px;
    width: 200px;
    background-color: #00000091;
    border-radius: 10px;
    padding: 0.5rem;
    gap: 10px;
    box-shadow: 0 0 10px black;
}

.last1{
    display: flex;
    align-items: baseline;
    
}

p{
    font-size: 20px;
    font-weight: bolder;
}

.condition{
    padding-top: 1rem;
    font-size: 25px;
    font-weight: bolder;
}